<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="preloader flex-column justify-content-center align-items-center bg-white" th:fragment="preloader">
<!--        <img class="animation__shake" -->
<!--             th:src="@{https://res.cloudinary.com/dwdvnztnn/image/upload/v1742350980/PCRT/aml_form_header_uj0l0n.png}" -->
<!--             alt="AdminLTELogo" -->
<!--             height="60"-->
<!--             width="60">-->

        <img class="animation"
             th:src="@{https://res.cloudinary.com/dwdvnztnn/image/upload/v1742350980/PCRT/aml_form_header_uj0l0n.png}"
             alt="AdminLTELogo"
             >
    </div>
</html>


<!--th:src="@{/dist/img/AdminLTELogo.png}"-->