<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/header :: header(title=${'Lập báo cáo'})}"></head>

<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

    <div th:replace="~{fragments/preloader :: preloader}"></div>

    <nav th:replace="~{fragments/navbar :: navbar}"></nav>

    <aside th:replace="~{fragments/sidebar :: sidebar(currentUser = ${currentUser})}"></aside>


    <div class="content-wrapper">


        <section class="content">
            <div class="container-fluid">

                <div class="card card-primary mt-2">
                    <div class="card-header">
                        <h3 class="card-title">Lập báo cáo giao dịch đáng ngờ</h3>
                    </div>

                    <div class="card-body">


                        <div class="m-2 p-2 border border-2">
                            <h5 class="text-center">BÁO CÁO GIAO DỊCH ĐÁNG NGỜ</h5>

                            <div class="mb-2">
                                <b th:text="|Ngày lập báo cáo: ${createdDate}|"></b><br>
                                <b th:text="|Chi nhánh: ${currentUser.branch.name}|"></b><br>
                            </div>

                            <b>A. Thông tin nhân viên lập báo cáo:</b>
                            <div class="mt-2 p-3">
                                <div class="row border">
                                    <p class="col"><b>1. Họ và tên: </b> <span th:text="${currentUser.name}"></span></p>
                                    <p class="col"><b>2. Email: </b> <span th:text="${currentUser.email}"></span></p>
                                </div>
                                <div class="row border">
                                    <p class="col"><b>3. Số điện thoại: </b> <span
                                            th:text="${currentUser.phoneNumber}"></span></p>
                                    <p class="col"><b>4. Địa chỉ: </b> <span th:text="${currentUser.address}"></span></p>
                                </div>
                            </div>
                            <b>B. Thông tin khách hàng thực hiện giao dịch:</b>
                            <div class="mt-2 p-3">
                                <div class="row border">
                                    <p class="col"><b>1. Họ và tên: </b> <span
                                            th:text="${transaction.customer.name}"></span></p>
                                    <p class="col"><b>2. Ngày sinh: </b> <span th:text="${transaction.customer.dob}"></span>
                                    </p>

                                    <p class="col"><b>3. Loại khách hàng: </b>
                                        <span th:text="${transaction.customer.type}"></span>
                                    </p>
                                </div>
                                <div class="row border">
                                    <p class="col-4"><b>4. Số CCCD: </b> <span
                                            th:text="${transaction.customer.nationalId}"></span></p>
                                    <p class="col-4"><b>5. Số Passport: </b> <span
                                            th:text="${transaction.customer.passport}"></span></p>
                                </div>
                                <div class="row border">
                                    <p class="col"><b>6. Địa chỉ: </b><span
                                            th:text="${transaction.customer.address}"></span></p>
                                    <p class="col"><b>7. Thành phố: </b><span th:text="${transaction.customer.city}"></span>
                                    </p>
                                    <p class="col"><b>8. Quốc tịch: </b><span th:text="${transaction.customer.country}"></span>
                                    </p>
                                </div>
                            </div>

                            <b>C. Thông tin giao dịch:</b>
                            <div class="mt-2 p-3">
                                <b>1. Thông tin nhân viên lập giao dịch: </b>
                                <div class="p-3">
                                    <div class="row border">
                                        <p class="col"><b>a. Họ và tên: </b><span th:text="${transaction.user.name}"></span></p>
                                        <p class="col"><b>b. Email: </b><span th:text="${transaction.user.email}"></span></p>
                                    </div>
                                    <div class="row border">
                                        <p class="col"><b>c. Số điện thoại: </b><span th:text="${transaction.user.phoneNumber}"></span></p>
                                        <p class="col"><b>d. Địa chỉ: </b><span th:text="${transaction.user.address}"></span></p>
                                    </div>
                                </div>
                                <b>2. Thông tin giao dịch: </b>
                                <div class="p-3">
                                    <div class="row border">
                                        <p class="col"><b>a. Ngày giao dịch: </b><span th:text="${transaction.createdDateTmp}"></span></p>
                                        <p class="col"><b>b. Số tiền: </b><span th:text="|${transaction.amount} VND|"></span></p>
                                    </div>
                                </div>
                            </div>

                            <b>D. Tài liệu liên quan khách hàng:</b>
                            <div class="mt-2 p-3">
                                <b>1. Kết quả khảo sát khách hàng: </b>
                                <div th:each="kqks, index : ${transaction.customer.kqksList}" class="row mt-1 p-3">
                                    <p class="col-1"><b>Id: </b><span th:text="${index.count}"></span></p>
                                    <p class="col-4"><b>Ngày tạo: </b><span th:text="${kqks.createdDateTmp}"></span></p>
                                    <p class="col-2"><a th:href="${kqks.filePath}" target="_blank" class="btn btn-primary btn-sm">Xem</a></p>
                                </div>

                                <b>2. Thông tin bổ sung khách hàng: </b>
                                <div th:if="${transaction.customer.pcrt_03_forms.size() > 0}">
                                    <div class="row mt-1 p-3" th:each="form, index : ${transaction.customer.pcrt_03_forms}">
                                        <p class="col-1"><b>Id: </b><span th:text="${index.count}"></span></p>
                                        <p class="col-4"><b>Ngày tạo: </b><span th:text="${form.createdDateTmp}"></span></p>
                                        <p class="col-2"><a th:href="${form.filePath}" target="_blank" class="btn btn-primary btn-sm">Xem</a></p>
                                    </div>
                                </div>
                                <div th:if="${transaction.customer.pcrt_04_forms.size() > 0}">
                                    <div class="row mt-1 p-3" th:each="form, index : ${transaction.customer.pcrt_04_forms}">
                                        <p class="col-1"><b>Id: </b><span th:text="${index.count}"></span></p>
                                        <p class="col-4"><b>Ngày tạo: </b><span th:text="${form.createdDateTmp}"></span></p>
                                        <p class="col-2"><a th:href="${form.filePath}" target="_blank" class="btn btn-primary btn-sm">Xem</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="form-group d-flex justify-content-center">
                                <button th:onclick="|createReport(${transaction.id})|" id="btnCreateReport" class="btn btn-warning btn-sm mx-2">Lập báo cáo</button>
                                <button id="btnCancel" class="btn btn-secondary btn-sm mx-2">Quay lại</button>
                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>

    <footer th:replace="~{fragments/footer :: footer}"></footer>

</div>

<div th:replace="~{fragments/commonScript :: commonScript}"></div>

<script>
    function createReport(transactionId){
        fetch(`http://localhost:8080/api/gdv/report/create/${transactionId}`,{
            method: 'POST'
        }).then(response => {
            window.location.href="http://localhost:8080/gdv/transactions?status=report";
        });
    }

    document.getElementById("btnCancel").addEventListener("click", () => {
        window.location.href="http://localhost:8080/gdv/transactions?status=report";
    })
</script>

</body>
</html>
